<h1>Edit Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for topics:</p>
    <ul>
      <li>Make sure the topic is appropriate</li>
      <li>Never insult cats.</li>
      <li>Frown when you type.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for @wiki do |w| %>
      <div class="form-group">
        <%= w.label :title %>
        <%= w.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
      </div>
      <div class="form-group">
        <%= w.label :body %>
        <%= w.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
      </div>
      <div class="col-md-4">
        <% if current_user.admin? || current_user.premium? %>
          <div class="form-group">
            <%= w.label :access, class: 'checkbox' do %>
              <%= w.check_box :access %> Private Wiki
            <% end %>
          </div>
        <% end %>
      </div>
      <%= render "/collaborator/userList" %>
      <div class="col-md-8">
        <h4>Add/Remove Collaborators</h4>
        <h4><span class="ion-plus-round"></span><%= @wiki.collaborators.all %></h4>
        <h4><span class="ion-close-round"></span><%= @wiki.collaborators(@users) %></h4>
      </div>
      <div class="form-group">
        <%= w.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
